/*
TEAM 3 INDUSTRIAL EXPERIENCE PROJECT
KPMG Student Allocation System Created by Monash University South Africa's IE Team 3
2016 (c) KPMG & Monash University
*/
/* 
    Created on : 24 Jun 2016, 12:27:58 PM
    Author     : TEAM 3
*/

#btn {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#btn:hover{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6);
}

#menuBar{
  -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
}

#menu:hover {
    -fx-background-color: #3c7fb1;
}